--extra-index-url https://pypi.org/simple/
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/transformers.git
accelerate
huggingface_hub
sentencepiece
torch
numpy
Pillow
